<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".EventMainActivity" />
        <activity android:name=".eventbus.activity.EventBusActivity" />
        <activity android:name=".rxeventbus.activity.RxEventBusActivity" />
        <activity android:name=".liveeventbus.activity.LiveEventBusActivity" />
        <activity android:name=".floweventbus.activity.FlowEventBusActivity" />
    </application>

</manifest>
