<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:supportsRtl="true">
        <activity android:name=".RxRetrofitActivity" />
        <activity android:name=".request.RxRequestActivity" />
        <activity android:name=".download.RxDownloadActivity" />
        <activity android:name=".upload.RxUploadActivity" />
    </application>

</manifest>
