<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".WidgetCustomMainActivity" />
        <activity android:name=".alertdialog.activity.AlertDialogActivity" />
        <activity android:name=".custompopwindow.activity.CustomPopWindowActivity" />
        <activity android:name=".blurview.activity.BlurViewActivity" />
        <activity android:name=".infiniteimage.activity.InfiniteImageActivity" />
        <activity android:name=".marqueeview.activity.MarqueeViewActivity" />
        <activity android:name=".sensor3d.activity.Sensor3DActivity" />
        <activity android:name=".spinner.activity.SpinnerActivity" />
        <activity android:name=".titlebar.activity.TitleBarActivity" />
        <activity android:name=".verifycode.activity.VerifyCodeActivity" />
        <activity android:name=".ninepatch.activity.NinePatchActivity" />
    </application>

</manifest>
