<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".StorageMainActivity" />

        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".activity.ObjectBoxActivity" />

        <activity android:name=".activity.DataStoreActivity" />

        <activity android:name=".mmkv.MMKVActivity" />
    </application>

</manifest>
