<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".MlMainActivity" />
        <activity android:name=".digit.activity.TFLiteDigitClassifierActivity" />
        <activity android:name=".image.activity.TFLiteImageClassificationActivity" />
        <activity android:name=".gpu.activity.TFLiteGpuDelegateActivity" />
        <activity android:name=".tensor.activity.TFLiteTensorBasicsActivity" />
    </application>

</manifest>
