<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <activity android:name=".ComponentActivity" />
        <activity android:name=".activity.BroadcastActivity" />
        <activity android:name=".activity.ActivityResultActivity" />
        <activity android:name=".activity.ActivityResultActivity2" />
        <activity android:name=".activity.OnBackPressedActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.MessengerActivity" />

        <service android:name=".service.MyAIDLService" />
        <service android:name=".service.MyBoundService" />
        <service
            android:name=".service.MyForegroundService"
            android:foregroundServiceType="specialUse" />
        <service android:name=".service.MyMessageService" />
    </application>
</manifest>
