<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".FeatureMainActivity" />
        <activity android:name=".activity.TurntableActivity" />
        <activity android:name=".activity.MicAnimationActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.CropActivity" />
    </application>

</manifest>
