<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".NetWorkActivity" />
        <activity android:name=".activity.coil.CoilActivity" />
        <activity android:name=".activity.ktor.KtorActivity" />
        <activity android:name=".activity.ktor.KtorUtilsActivity" />

        <activity android:name=".activity.httpurl.HttpURLActivity" />

        <activity android:name=".activity.volley.VolleyActivity" />
        <activity android:name=".activity.volley.VolleyHelperActivity" />

        <activity android:name=".activity.okhttp.OkHttpActivity" />
        <activity android:name=".activity.okhttp.OkHttpHelperActivity" />

        <activity android:name=".activity.retrofit.RetrofitActivity" />
        <activity android:name=".activity.retrofit.RetrofitHelperActivity" />

        <activity android:name=".activity.retrofit.RetrofitRxJavaActivity" />
        <activity android:name=".activity.retrofit.RetrofitRxJavaHelperActivity" />

        <activity android:name=".activity.retrofit.RxRetrofitActivity" />

        <activity android:name=".activity.download.OkhttpDownloadActivity" />
        <activity android:name=".activity.download.RetrofitDownloadActivity" />
        <activity android:name=".activity.download.RxDownloadActivity" />

        <activity android:name=".activity.websocket.WebSocketActivity" />
        <activity android:name=".activity.websocket.WebSocketUtilsActivity" />

        <activity android:name=".activity.socket.NanoActivity" />
        <activity android:name=".activity.socket.NettyActivity" />
        <activity android:name=".activity.socket.SocketActivity" />

        <service android:name=".nano.NanoService" />
        <service android:name=".netty.NettyService" />
        <service android:name=".socket.SocketService" />
    </application>

</manifest>