<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".SseMainActivity" />
        <activity android:name=".okhttp.activity.OkHttpSseClientActivity" />
        <activity android:name=".okhttp.activity.OkHttpSseClientRxActivity" />
        <activity android:name=".okhttp.activity.OkHttpSseClientFlowActivity" />
        <activity android:name=".ktor.activity.KtorSseClientActivity" />
        <activity android:name=".ktor.activity.KtorSseClientFlowActivity" />
    </application>

</manifest>
