<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".OpenSourceMainActivity" />

        <activity android:name=".activity.selector.CityPickerActivity" />
        <activity android:name=".activity.selector.PickerViewActivity" />
        <activity android:name=".activity.selector.PictureSelectorActivity" />

        <activity android:name=".activity.utils.PermissionXActivity" />

        <activity android:name=".activity.utils.RxJavaActivity" />

        <activity android:name=".activity.loadsir.LoadSirActivity" />
    </application>

</manifest>