<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ComposeMainActivity" />
        <activity android:name=".composeview.activity.ComposeViewActivity" />
        <activity android:name=".androidview.activity.AndroidViewActivity" />
        <activity android:name=".basic.activity.TextActivity" />
        <activity android:name=".basic.activity.ButtonActivity" />
        <activity android:name=".selection.activity.SelectionActivity" />
        <activity android:name=".chip.activity.ChipActivity" />
        <activity android:name=".menu.activity.MenuActivity" />
        <activity android:name=".progress.activity.ProgressActivity" />
        <activity android:name=".basic.activity.ImageActivity" />
        <activity android:name=".textfield.activity.TextFieldActivity" />
        <activity android:name=".theme.activity.ThemeActivity" />
        <activity android:name=".canvas.activity.CanvasActivity" />
        <activity android:name=".basic.activity.EffectActivity" />
        <activity android:name=".collapsingtopbar.activity.CollapsingTopBarActivity" />
        <activity android:name=".basic.activity.ConstraintLayoutActivity" />
        <activity android:name=".insets.activity.InsetsActivity" />
        <activity android:name=".basic.activity.CompositionLocalActivity" />
        <activity android:name=".bottomsheet.activity.BottomSheetActivity" />
        <activity android:name=".dialog.activity.DialogActivity" />
        <activity android:name=".adaptive.activity.AdaptiveActivity" />
        <activity android:name=".remember.activity.RememberActivity" />
        <activity android:name=".animation.activity.AnimationActivity" />
        <activity android:name=".performance.activity.PerformanceActivity" />
        <activity android:name=".draggable.activity.DragGesturesActivity" />
        <activity android:name=".transformgestures.activity.TransformGesturesActivity" />
        <activity android:name=".anchoreddraggable.activity.AnchoredDraggableActivity" />
        <activity android:name=".dragging.activity.GuaguaCardActivity" />
        <activity android:name=".navhost.activity.NavHostActivity" />
        <activity android:name=".navigation.activity.NavigationBarActivity" />
        <activity android:name=".nav3.activity.Nav3Activity" />
        <activity android:name=".sharedelement.activity.SharedElementActivity" />
        <activity android:name=".tab.activity.ScrollableTabActivity" />
        <activity android:name=".smartrefresh.activity.SmartRefreshActivity" />
        <activity android:name=".staggeredgrid.activity.StaggeredGridActivity" />
        <activity android:name=".lazylayout.activity.LazyLayoutActivity" />
        <activity android:name=".chart.activity.LineChartActivity" />
        <activity android:name=".chart.activity.BarChartActivity" />
        <activity android:name=".chart.activity.PieChartActivity" />
        <activity android:name=".chart.activity.RadarChartActivity" />
        <activity android:name=".chart.activity.ChartLinkageActivity" />
    </application>

</manifest>
