<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ArchMainActivity" />
        <activity android:name=".mvp.MvpActivity" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".mvi.MviActivity" />
        <activity android:name=".mavericks.counter.CounterActivity" />
        <activity android:name=".mavericks.article.MavericksActivity" />
    </application>
</manifest>