<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ArchMainActivity" />
        <activity android:name=".mvp.activity.MvpActivity" />
        <activity android:name=".mvvm.activity.MvvmActivity" />
        <activity android:name=".mvi.activity.MviActivity" />
        <activity android:name=".compose.activity.ComposeMviActivity" />
        <activity android:name=".mavericks.activity.MavericksActivity" />
        <activity android:name=".ssot.activity.OfflineFirstActivity" />
    </application>

</manifest>
