<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application>
        <activity android:name=".BluetoothMainActivity" />
        <activity android:name=".native_ble.activity.BleNativeScanActivity" />
        <activity android:name=".native_ble.activity.BleNativeConnectActivity" />
        <activity android:name=".native_ble.activity.BleNativeQueueActivity" />
        <activity android:name=".nordic_ble.activity.BleNordicScanActivity" />
        <activity android:name=".nordic_ble.activity.BleNordicConnectActivity" />
        <activity android:name=".nordic_ble.activity.BleNordicTransferActivity" />
        <activity android:name=".fast_ble.activity.BleFastScanActivity" />
        <activity android:name=".fast_ble.activity.BleFastConnectActivity" />
        <activity android:name=".rx_ble.activity.BleRxScanActivity" />
        <activity android:name=".rx_ble.activity.BleRxConnectActivity" />
    </application>

</manifest>
