<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".HttpClientActivity" />

        <activity android:name=".okhttp.OkHttpActivity" />

        <activity android:name=".retrofit.RetrofitCallActivity" />
        <activity android:name=".retrofit.RetrofitRxActivity" />

        <activity android:name=".retrofit_helper.RetrofitCallHelperActivity" />
        <activity android:name=".retrofit_helper.RetrofitRxHelperActivity" />

        <activity android:name=".retrofit_rx.RxRetrofitActivity" />
    </application>

</manifest>
