<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".AnimMainActivity" />
        <activity android:name=".activity.system.ObjectAnimatorActivity" />
        <activity android:name=".activity.system.AnimatorSetActivity" />
        <activity android:name=".activity.system.ValueAnimatorActivity" />
        <activity android:name=".activity.system.TransitionFirstActivity" />
        <activity android:name=".activity.system.TransitionSecondActivity" />
        <activity android:name=".activity.thirdparty.LottieActivity" />
        <activity android:name=".activity.thirdparty.SvgaActivity" />
        <activity android:name=".activity.thirdparty.SvgaImageActivity" />
        <activity android:name=".activity.thirdparty.PagPlaybackActivity" />
        <activity android:name=".activity.thirdparty.PagImageActivity" />
        <activity android:name=".activity.thirdparty.PagTextActivity" />
        <activity android:name=".activity.thirdparty.PagLayerActivity" />
        <activity android:name=".activity.thirdparty.PagCompositionActivity" />
    </application>

</manifest>
