<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".AnimActivity" />
        <activity android:name=".activity.ObjectAnimatorActivity" />
        <activity android:name=".activity.AnimatorSetActivity" />
        <activity android:name=".activity.ValueAnimatorActivity" />
        <activity android:name=".activity.KeyframeActivity" />
        <activity android:name=".activity.TransitionFirstActivity" />
        <activity android:name=".activity.TransitionSecondActivity" />
        <activity android:name=".activity.RenderEffectActivity" />
        <activity android:name=".activity.RenderScriptActivity" />
    </application>
</manifest>
