<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".PerformanceMainActivity" />
        <activity android:name=".activity.ContentProviderActivity" />
        <activity android:name=".activity.StartupActivity" />
        <activity android:name=".activity.BaselineProfilesActivity" />
        <activity android:name=".activity.IdleHandlerActivity" />
        <activity android:name=".activity.AsyncLayoutInflaterActivity" />
        <activity android:name=".activity.LruCacheActivity" />
        <activity android:name=".activity.ConcatAdapterActivity" />
        <activity android:name=".activity.DiffUtilActivity" />
        <activity android:name=".activity.RecycledViewPoolActivity" />

        <provider
            android:name=".provider.AutoInitProvider"
            android:authorities="com.example.william.my.module.performance.autoinit"
            android:exported="false"
            android:multiprocess="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            android:multiprocess="false">
            <meta-data
                android:name="com.example.william.my.module.performance.startup.SecuritySdkInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
