<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".WidgetMainActivity" />
        <activity android:name=".appbar.activity.AppBarActivity" />
        <activity android:name=".dialog.activity.DialogActivity" />
        <activity android:name=".popwindow.activity.PopWindowActivity" />
        <activity android:name=".flexbox.activity.FlexBoxActivity" />
        <activity android:name=".recyclerview.activity.RecyclerViewActivity" />
        <activity android:name=".recyclerviewnested.activity.RecyclerViewNestedActivity" />
        <activity android:name=".viewflipper.activity.ViewFlipperActivity" />
        <activity android:name=".viewpager.activity.ViewPagerActivity" />
        <activity android:name=".viewpager2.activity.ViewPager2Activity" />
        <activity android:name=".webview.activity.WebViewActivity" />
    </application>

</manifest>
