<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".AnimThirdpartyMainActivity" />
        <activity android:name=".activity.PagActivity" />
        <activity android:name=".activity.LottieActivity" />
        <activity android:name=".activity.SvgaPlayerActivity" />
    </application>
</manifest>
