<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".AnimationActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.RenderEffectActivity" />
        <activity android:name=".activity.RenderScriptActivity" />
        <activity android:name=".activity.TransitionFirstActivity" />
        <activity android:name=".activity.TransitionSecondActivity" />
    </application>
</manifest>
