<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".MqttMainActivity" />
        <activity android:name=".activity.HiveMqClientActivity" />
        <activity android:name=".activity.PahoServiceClientActivity" />
    </application>

</manifest>
