<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".HttpMainActivity" />
        <activity android:name=".activity.httpurl.HttpURLActivity" />
        <activity android:name=".activity.volley.VolleyActivity" />
        <activity android:name=".activity.okhttp.OkHttpActivity" />
        <activity android:name=".activity.retrofit.RetrofitCallActivity" />
        <activity android:name=".activity.retrofit.RetrofitCallDslActivity" />
        <activity android:name=".activity.retrofit.RetrofitCoroutineActivity" />
        <activity android:name=".activity.retrofit.RetrofitCoroutineDslActivity" />
        <activity android:name=".activity.retrofit.RetrofitRxActivity" />
        <activity android:name=".activity.retrofit.RetrofitRxDslActivity" />
        <activity android:name=".activity.rxretrofit.RxRequestActivity" />
        <activity android:name=".activity.rxretrofit.RxDownloadActivity" />
        <activity android:name=".activity.rxretrofit.RxUploadActivity" />
        <activity android:name=".activity.ktor.KtorActivity" />
        <activity android:name=".activity.ktor.KtorClientActivity" />
    </application>

</manifest>
