<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".HttpMainActivity" />
        <activity android:name=".httpurl.activity.HttpURLActivity" />
        <activity android:name=".volley.activity.VolleyActivity" />
        <activity android:name=".okhttp.activity.OkHttpActivity" />
        <activity android:name=".retrofit.activity.RetrofitCallActivity" />
        <activity android:name=".retrofit.activity.RetrofitCallDslActivity" />
        <activity android:name=".retrofit.activity.RetrofitCoroutineActivity" />
        <activity android:name=".retrofit.activity.RetrofitCoroutineDslActivity" />
        <activity android:name=".retrofit.activity.RetrofitRxActivity" />
        <activity android:name=".retrofit.activity.RetrofitRxDslActivity" />
        <activity android:name=".rxretrofit.activity.RxRequestActivity" />
        <activity android:name=".rxretrofit.activity.RxDownloadActivity" />
        <activity android:name=".rxretrofit.activity.RxUploadActivity" />
        <activity android:name=".ktor.activity.KtorActivity" />
        <activity android:name=".ktor.activity.KtorClientActivity" />
    </application>

</manifest>
