<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".WidgetThirdpartyMainActivity" />
        <activity android:name=".widget.activity.BannerActivity" />
        <activity android:name=".widget.activity.CountdownActivity" />
        <activity android:name=".widget.activity.PhotoViewActivity" />
        <activity android:name=".widget.activity.ShadowLayoutActivity" />
        <activity android:name=".widget.activity.SwipeLayoutActivity" />
        <activity android:name=".widget.activity.RealtimeBlurViewActivity" />
        <activity android:name=".picker.activity.CityPickerActivity" />
        <activity android:name=".picker.activity.PickerViewActivity" />
        <activity android:name=".picker.activity.PictureSelectorActivity" />
        <activity android:name=".loadsir.activity.LoadSirActivity" />
        <activity android:name=".loadsir.activity.LoadSirFragmentActivity" />
    </application>

</manifest>
