<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".WidgetThirdpartyMainActivity" />
        <activity android:name=".activity.widget.BannerActivity" />
        <activity android:name=".activity.widget.CountdownActivity" />
        <activity android:name=".activity.widget.PopWindowActivity" />
        <activity android:name=".activity.widget.ShadowLayoutActivity" />
        <activity android:name=".activity.widget.SwipeLayoutActivity" />
        <activity android:name=".activity.widget.RealtimeBlurViewActivity" />
    </application>

</manifest>
