<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".WidgetThirdpartyMainActivity" />
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.CountdownActivity" />
        <activity android:name=".activity.PopWindowActivity" />
        <activity android:name=".activity.ShadowLayoutActivity" />
        <activity android:name=".activity.SwipeLayoutActivity" />
        <activity android:name=".activity.RealtimeBlurViewActivity" />
    </application>

</manifest>
