<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".SocketMainActivity" />
        <activity android:name=".websocket.okhttp.activity.OkHttpWebSocketClientActivity" />
        <activity android:name=".websocket.okhttp.activity.OkHttpWebSocketClientRxActivity" />
        <activity android:name=".websocket.okhttp.activity.OkHttpWebSocketClientFlowActivity" />
        <activity android:name=".websocket.java.activity.JavaWebSocketClientActivity" />
        <activity android:name=".websocket.java.activity.JavaWebSocketClientRxActivity" />
        <activity android:name=".websocket.java.activity.JavaWebSocketClientFlowActivity" />
        <activity android:name=".tcpsocket.netty.activity.NettyTcpSocketClientActivity" />
        <activity android:name=".tcpsocket.netty.activity.NettyTcpSocketClientRxActivity" />
        <activity android:name=".tcpsocket.netty.activity.NettyTcpSocketClientFlowActivity" />
    </application>

</manifest>
