<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <activity android:name=".GpuImageMainActivity" />
        <activity android:name=".filter.activity.GpuImageFilterActivity" />
        <activity android:name=".adjust.activity.GpuImageAdjustActivity" />
        <activity android:name=".group.activity.GpuImageGroupActivity" />
        <activity android:name=".camera.activity.GpuImageCameraFilterActivity" />
        <activity android:name=".photo.activity.GpuImagePhotoActivity" />
        <activity android:name=".effect.activity.GpuImageCameraEffectActivity" />
        <activity android:name=".codec.activity.GpuImageCodecRecordActivity" />
    </application>

</manifest>
